# Ejercicio

Vamos a hacer que el usuario rellene una ficha del cliente y vamos a guardar toda la información en un diccionario. Para ello, vamos a pedir el nombre, los apellidos, la edad, el dni y el dinero total que va a pagar el cliente.

In [ ]:
client = {}
print("Introduzca el nombre del cliente: ")
client["name"] = str(input())
print("Introduzca los apellidos del cliente: ")
client["surname"] = str(input())
print("Introduzca la edad del cliente: ")
client["age"] = int(input())
print("Introduzca el DNI del cliente: ")
client["dni"] = str(input())
print("Introduzca el total a pagar del cliente: ")
client["total"] = float(input())

print(client)

Introduzca el nombre del cliente:
Manuel
Introduzca los apellidos del cliente:
Gómez Carmona
Introduzca la edad del cliente:
45
Introduzca el DNI del cliente:
12345678K
Introduzca el total a pagar del cliente:
557.99
{'name': 'Manuel', 'surname': 'Gómez Carmona', 'age': 45, 'dni': '12345678K', 'total': 557.99}